* {
    margin: 0; 
    padding: 0;
    font-family: cursive;
  }

  body {
    background-image: url(backgroundimg.jpg);   /* background img is take by unsplash free copywrite */
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
  }
  
  .todo-container {
    background: transparent;
    border: 2px solid #e6b7eca1;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(21, 183, 185, 1);
    width: 600px;
    max-height: 84vh;
    display: flex;
    flex-direction: column;
    animation: fadeIn 3s ease-in-out;
    overflow:hidden;
  }

  header {
    position: sticky;
    top: 0;
    background: transparent;
    padding-bottom: 4px; 
    margin-bottom: 4px;
    z-index: 1;
  }
  
  h1 {
    font-family:Arial, Helvetica, sans-serif;
    margin-top: 0;
    font-size: 28px;
    text-align: center;
    color: #000814;
    padding: 3px;
  }

  h4 {
    margin-top: 0;
    font-size: 18px;
    text-align: center;
    color: white;
    padding: 4px;
  }

  #emptyImage{
    opacity: 0.5;
  }
  
  .input-cont {
    display: flex;
    border: 2px solid #e6b7eca1;
    box-shadow: 0 0 20px rgba(21, 183, 185, 1);
    border-radius: 10px;
    backdrop-filter: blur(3px);
  }

  input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    color:black ;
    font-size: medium;
    font-weight:700;
    background: transparent;
    border: 2px solid black;
    border-radius: 6px;
    transition: border-color 0.3s;
  }

  input::placeholder{
    font-weight: bold;
    color: whitesmoke;
  }
  
  button {
    padding: 10px;
    border: 3px solid #e6b7eca1;
    border-radius: 6px;
    background: transparent;
    color:black;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
  }

  .buttons-cont {
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
    backdrop-filter: blur(3px);
  }

  #addButton{
    border: none;
  }
  
  button:hover {
    background-color: #218838;
    transform: translateY(-2px);
  }

  button:active {
    background-color:cyan;
  }

  button#showAllButton:active, button#showCompletedButton:active {
    background-color: #0069d9;
  }

  button#deleteAllButton:hover {
    background-color: #dc3545;
  }
  
  button#deleteAllButton:active {
    background-color: #bd2130;
  }

  button#showIncompleteButton:hover { 
    background-color: #0069d9;
  }

  button#showIncompleteButton:active{
    background-color: #bd2130;
  }

  ul {
    backdrop-filter: blur(7px);
    border: 2px solid #e6b7eca1;
    box-shadow: 0 0 20px rgba(21, 183, 185, 1);
    border-radius: 8px;
    list-style:none;
    font-family: cursive;
    flex-grow: 1;
    overflow-y: auto;
    max-height: calc(80vh - 150px);
    padding: 3px;
  }
  
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 2px solid black;
    animation: slideIn 0.5s ease-out;
  }
  
  li:last-child {
    border-bottom: none;
  }
  
  li .todo-details {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .todo-name{
    font-size: medium;
    color:whitesmoke;
    font-family: cursive;
    font-weight:600;
  }
  
  .checked {
    text-decoration: line-through;
    color: red;
  }
  
  .timestamp {
    font-size: 10px;
    font-weight: 700;
    color:greenyellow;
    font-family: system-ui;
  }

  button.edit {
    background: transparent;
    color: aqua;
    padding: 4px;
    font-size: 12px;
  }
  
  button.edit:hover {
    background-color: #e0a800;
  }
  
  button.edit:active {
    background-color: #d39e00;
  }
  
  button.remove {
    background: transparent;
    color: aqua;
    padding: 4px;
    font-size: 12px;
  }
  
  button.remove:hover {
    background-color: #c82333;
  }
  
  button.remove:active {
    background-color: #bd2130;
  }
  
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  @keyframes slideIn {
    from { transform: translateX(-100%); }
    to { transform: translateX(0); }
  }